/* font-family: 'Roboto Mono', monospace; */

*{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

body{
    background-color: lightblue;
}

h1{
    font-size: x-large;
}

header{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

#toggleTheme{
    font-size: smaller;
    background-color: black;
}

section{
    margin: 50px auto;
    border: 2px solid green;
    background-color: white;
    padding: 20px;
}

input{
    display: block;
    margin: 20px auto;
}

output{
    display: block;
    border: 2px grey solid;
    background-color: white;
    margin: 10px auto;
    width: 80%;
    min-height: 36px;
    
}

.container-for-buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: auto;
    width: 80%;
}

button{
    display: inline-block;
    margin: auto;
    height: 36px;
    width: 120px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    border: none;

}

#getNumberStatistics{
    background-color: green;
}

#clearNumberStatistics{
    background-color: red;
}

.container{
    width: 100%;
    height: fit-content;
    
}

.persentage{
    margin: 10px;
    padding-left: 20px;
    color: darkslategrey;
    overflow: visible;
    white-space: nowrap;
    
}

#numbersBar{
    background-color: white;
    width: 90%;
    padding: 20px;
    margin: 20px;
    border: solid black 2px;
}

#zeroBar{
    width: 80%; 
    background-color: #2196F3;
}

#positiveBar{
    width: 90%; 
    background-color: #04AA6D;
}

#negativeBar{
    width: 65%; 
    background-color: #f44336;
}